body{
	
}

.p1{
	width:45%%;
	margin-left:1%;
}


#image, #img2{
	height:300px;	
}

.aclass{
	font-size:60px;
	font-weight: bold;
	color:#0095ff;
	text-align:center;
}
.fa {
	border-radius:4px;
  padding: 10px;
  font-size:20px;
  width: 10px;
  height:10px;
  text-align: center;
  text-decoration: none;
 margin-left:25%;
}
.Buttons{
	margin-left:30%;
	margin-top:4%;
}
.b1, .b2, .b3, .b4{
	background-color:#3dd4d4;
}
.fa-facebook {
	margin-left:8px;
  background:grey;
  color: black;
}

.fa-instagram {
  background: grey;
  color: black;
}
.grid, .faltu{
	display:flex;
	flex-wrap: wrap;

}
.grid > div {
	margin: 20px;
	padding:20px;
}
.faltu > div{
margin:10px;
}
@media (min-width:800px){
	.faltu > div{width:30%;}}
